**Loan Default Prediction Dataset ANALYSIS**

IMPORTING NECESSARY LIBRARIES

In [1]:
import pandas as pd
import numpy as np

IMPORTING THE DATASET

In [2]:
import zipfile

# Path to your zip file
zip_path = "/content/archive (6).zip"

# Extract all contents
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("extracted_files")  # Folder to extract files

# If you know the CSV file name inside the zip
csv_file = "extracted_files/Loan_default.csv"

EXPLORATORY DATA ANALYSIS

In [3]:
# Read CSV using pandas
df = pd.read_csv(csv_file)
df.head() # Show first 5 rows

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [14]:
df.tail()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0

In [15]:
df.sample(5)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
165313,B33098KXA7,31,108652,64501,675,21,1,14.23,60,0.76,High School,Self-employed,Married,No,No,Home,Yes,0
170051,XCVXMB0SSM,59,43640,243873,462,75,2,14.05,24,0.63,Bachelor's,Unemployed,Divorced,No,Yes,Business,No,0
138673,W64U36J1VG,62,123624,116852,542,1,1,22.66,48,0.46,Bachelor's,Self-employed,Single,No,Yes,Auto,Yes,0
111524,BRW0PPLGMP,46,60328,89029,518,111,1,10.80,60,0.66,Bachelor's,Full-time,Married,Yes,No,Other,No,0
240734,T92QIQ6EJ8,39,23590,12042,758,116,1,19.88,48,0.13,PhD,Self-employed,Single,Yes,Yes,Business,Yes,0

In [13]:
df.shape

(255347, 18)

In [16]:
df.columns

Index(['LoanID', 'Age', 'Income', 'LoanAmount', 'CreditScore',
       'MonthsEmployed', 'NumCreditLines', 'InterestRate', 'LoanTerm',
       'DTIRatio', 'Education', 'EmploymentType', 'MaritalStatus',
       'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner',
       'Default'],
      dtype='object')

In [17]:
df.dtypes

LoanID             object
Age                 int64
Income              int64
LoanAmount          int64
CreditScore         int64
MonthsEmployed      int64
NumCreditLines      int64
InterestRate      float64
LoanTerm            int64
DTIRatio          float64
Education          object
EmploymentType     object
MaritalStatus      object
HasMortgage        object
HasDependents      object
LoanPurpose        object
HasCoSigner        object
Default             int64
dtype: object

In [4]:
df.describe()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Default
count,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000
mean,43.498306,82499.304597,127578.865512,574.264346,59.541976,2.501036,13.492773,36.025894,0.500212,0.116128
std,14.990258,38963.013729,70840.706142,158.903867,34.643376,1.117018,6.636443,16.969330,0.230917,0.320379
min,18.000000,15000.000000,5000.000000,300.000000,0.000000,1.000000,2.000000,12.000000,0.100000,0.000000
25%,31.000000,48825.500000,66156.000000,437.000000,30.000000,2.000000,7.770000,24.000000,0.300000,0.000000
50%,43.000000,82466.000000,127556.000000,574.000000,60.000000,2.000000,13.460000,36.000000,0.500000,0.000000
75%,56.000000,116219.000000,188985.000000,712.000000,90.000000,3.000000,19.250000,48.000000,0.700000,0.000000
max,69.000000,149999.000000,249999.000000,849.000000,119.000000,4.000000,25.000000,60.000000,0.900000,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB

In [6]:
df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [7]:
df['Default'].value_counts()

Default
0    225694
1     29653
Name: count, dtype: int64

In [9]:
for col in df:
  print(col, df[col].unique())

LoanID ['I38PQUQS96' 'HPSK72WA7R' 'C1OZ6DPJ8Y' ... 'XQK1UUUNGP' 'JAO28CPL4H'
 'ZTH91CGL0B']
Age [56 69 46 32 60 25 38 36 40 28 41 53 57 20 39 19 61 47 55 50 29 42 66 44
 59 45 33 64 68 54 24 26 35 21 31 67 43 37 52 34 23 51 27 48 65 62 58 18
 22 30 49 63]
Income [ 85994  50432  84208 ... 104108  76558 124446]
LoanAmount [ 50587 124440 129188 ... 105905 168231 208294]
CreditScore [520 458 451 743 633 720 429 531 827 480 652 375 829 395 635 432 313 811
 319 376 419 583 528 468 839 343 514 462 580 604 551 840 787 607 669 506
 540 695 707 386 747 400 639 795 498 560 505 393 369 439 634 657 417 455
 351 655 737 771 775 680 694 534 529 416 318 411 802 305 674 585 750 303
 487 730 579 658 683 574 421 719 692 542 453 618 659 371 517 701 361 578
 656 553 734 346 584 481 447 691 457 616 564 315 436 533 372 394 834 339
 415 668 748 715 479 696 751 842 769 577 602 497 714 396 513 522 335 601
 499 380 640 566 627 786 524 449 489 401 666 818 841 406 508 749 620 536
 592 541 316 609 705 424 770 407 611 398 739 777 763 826 726 310 815 797
 317 626 708 334 434 381 552 347 413 338 760 740 721 672 464 494 470 624
 366 831 337 671 610 308 742 716 383 550 645 433 663 367 650 596 593 466
 478 412 571 809 849 629 788 399 643 332 475 382 352 328 469 614 342 642
 678 806 477 595 304 312 476 754 530 324 546 518 461 816 641 823 698 402
 718 648 559 586 331 644 435 677 569 773 598 444 745 422 341 379 589 364
 681 423 808 728 662 490 473 812 832 374 653 676 309 814 465 535 617 679
 711 493 774 670 761 782 646 360 456 732 789 344 405 837 723 370 690 521
 495 414 325 320 555 307 794 848 427 675 630 420 776 501 459 687 824 425
 350 684 348 563 700 706 628 779 781 793 741 557 752 452 582 301 673 532
 409 590 576 766 778 636 733 549 450 765 688 397 472 594 441 599 558 780
 483 622 835 486 384 638 507 807 783 792 686 843 758 471 608 833 762 445
 710 387 709 503 363 820 326 613 519 785 330 817 661 537 727 440 623 496
 612 619 485 664 467 340 631 615 431 757 587 504 804 523 333 418 368 300
 488 460 703 403 448 830 805 753 796 581 314 699 729 697 365 845 474 713
 819 736 373 844 567 391 544 838 482 651 357 502 767 738 510 704 836 647
 428 539 603 591 756 717 570 810 527 565 660 573 682 385 390 438 525 764
 356 511 548 442 702 654 822 327 512 597 509 426 556 772 722 825 725 828
 454 744 649 790 801 665 345 689 561 463 821 606 404 600 791 547 799 354
 377 667 685 359 322 323 329 575 437 735 526 746 336 800 491 803 353 484
 545 306 572 605 378 554 543 392 430 500 847 321 755 621 588 846 538 408
 349 492 516 759 798 693 632 302 724 568 362 712 625 355 784 358 813 446
 562 768 311 637 443 389 388 515 410 731]
MonthsEmployed [ 80  15  26   0   8  18  67  83 114  94  56  87 112  31  49 106 119  65
  96  55  48  73 110  58  62  16  57  37   6 103  39  51  24 105  47 117
  32  99  84  72  88  27  36  33  59  20  54  76  66  11  23  22  93  35
  50  69  70 111  63   9   1  44  25  71 101  53  45  91  52  74  86   4
  10  82   7  79  85  12  17  28  68 100  60 115  43  14  13 104  95 118
 113  97 108  40  77 109  34  41  92  46   2   3  78 116  89  75  81   5
  90 107  98  21  64  29  30  19  38  61  42 102]
NumCreditLines [4 1 3 2]
InterestRate [15.23  4.81 21.17 ...  2.46 19.81  9.01]
LoanTerm [36 60 24 48 12]
DTIRatio [0.44 0.68 0.31 0.23 0.73 0.1  0.16 0.43 0.2  0.33 0.8  0.45 0.89 0.28
 0.66 0.17 0.39 0.65 0.38 0.47 0.22 0.5  0.19 0.12 0.82 0.78 0.86 0.69
 0.75 0.53 0.4  0.48 0.56 0.3  0.42 0.81 0.58 0.32 0.76 0.59 0.74 0.25
 0.37 0.51 0.24 0.15 0.36 0.41 0.71 0.49 0.6  0.72 0.57 0.87 0.62 0.18
 0.64 0.83 0.11 0.7  0.35 0.88 0.79 0.84 0.52 0.61 0.14 0.54 0.9  0.67
 0.26 0.29 0.34 0.77 0.55 0.13 0.63 0.46 0.21 0.85 0.27]
Education ["Bachelor's" "Master's" 'High School' 'PhD']
EmploymentType ['Full-time' 'Unemployed' 'Self-employed' 'Part-time']
MaritalStatus ['Divorced' 'Married' 'Single']
HasMortgage ['Yes' 'No']
HasDependents ['Yes' 'No']
LoanPurpose ['Other' 'Auto' 'Business' 'Home' 'Education']
HasCoSigner ['Yes' 'No']
Default [0 1]

In [18]:
df.nunique()

LoanID            255347
Age                   52
Income            114620
LoanAmount        158729
CreditScore          550
MonthsEmployed       120
NumCreditLines         4
InterestRate        2301
LoanTerm               5
DTIRatio              81
Education              4
EmploymentType         4
MaritalStatus          3
HasMortgage            2
HasDependents          2
LoanPurpose            5
HasCoSigner            2
Default                2
dtype: int64

In [11]:
df.duplicated().value_counts()

False    255347
Name: count, dtype: int64